<style>
  .box{
      backface-visibility: hidden;
      position: relative;
      padding: 50px;
      background:  rgba(252, 252, 252, 0.274);
      box-shadow: 0 5px 15px rgba(0,0,0,.2);
  }
  .card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
</style>
<style>
  .image-center {
    text-align: center;
  }
</style>
<div style="background-image: url('../assets/images/bu1.jpg'); background-size:cover; height: 1150px; ">
    <div class="offset-lg-1 offset-md-1 col-lg-10 col-md-10">
      <div class="jumbotron" style="background-color: transparent;">
        <div class="box">
        <h4 style="font-size:35px;">Welcome to {{title}}</h4>
        <p style="font-size:30px;">This is a flight reservation website</p>

        <p style="font-size:20px">The creator of this website is Hitesh Varma. 
                Who has knowledge and experience in fields like Java, Angular and Spring.</p>
            <p style="font-size:20px">This website allows user to register to our website. Search for flights and book them.
                And also can view and cancel bookings anytime.
            </p>
        </div>
      </div>
    </div>

    <div class="offset-lg-2 offset-md-2 col-lg-8 col-md-8">


      <div class="box">
      <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 mt-3">
                <div class="card" style="background-color: transparent;">
                    <div class="card-horizontal" style="background-color: transparent;">
                        <div class="img-square-wrapper">
                            <img class="" src="../assets/images/me.png" width="160px" height="160px" alt="Card image cap">
                        </div>
                        <div class="card-body" style="background-color: transparent; text-align: center;">
                            
                            <h4 class="card-title">Creator</h4>
                            <p class="card-text"><b>Hitesh Varma</b></p>
                            <p class="card-text"><b>Sr. Analyst Intern</b></p>
                            <p class="card-text"><b>Capgemini</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
          <div class="col-3"></div>
          <div class="col-6 mt-3">
              <div class="card" style="background-color: transparent;">
                  <div class="card-horizontal">
                        <div class="card-body" style="text-align: center;">
                          <br>
                          <h4 class="card-title">Technologies Used</h4>
                        <p class="card-text"><b>Angular, HTML, CSS, Bootstrap</b></p>
                        <p class="card-text"><b>Spring BOOT, JPA with Hibernate</b></p>
                </div>    

                      <div class="img-square-wrapper">
                          <img class="" src="../assets/images/me2.png" width="180px" height="180px" alt="Card image cap">
                      </div>
                      
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
        <div class="col-3"></div>
        <div class="col-6 mt-3">
            <div class="card" style="background-color: transparent;">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="" src="../assets/images/me3.png" height="180px" width="180px" alt="Card image cap">
                    </div>
                    <div class="card-body" style="text-align: center;">
                      
                      <h4 class="card-title">Contact Us</h4>
                      <p class="card-text"><b>Email: <br>hiteshvarmap@gmail.com</b></p>
                      <p class="card-text"><b>LinkedIn:<br>www.linkedin.com/in/<br>hiteshvarmapakalapati/</b></p>    
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    </div>

<!--
        <div class="container">
          <div class="box">
          <div class="row">
            <div class="col">
              <div class="card" style="width: 18rem;" style="background-color: transparent; " >
                <div class="image-center">
                  <img src="../assets/images/me1.png" width="128px" height="128px" />
                </div>
                <div class="card-body" style="text-align: center;">
                  <h4 class="card-title">Creator</h4>
                  <p class="card-text"><b>Hitesh Varma</b></p>
                  <p class="card-text"><b>Sr. Analyst Intern</b></p>
                  <p class="card-text"><b>Capgemini</b></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 18rem;" style="background-color: transparent;">
                <div class="image-center">
                  <img src="../assets/images/me2.png" width="161px" height="161px" />
                </div>
                <div class="card-body" style="text-align: center;">
                  <h4 class="card-title">Technologies Used</h4>
                  <p class="card-text"><b>Angular, HTML, CSS, Bootstrap</b></p>
                  <p class="card-text"><b>Spring BOOT, JPA with Hibernate</b></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 18rem;" style="background-color: transparent; " >
                <div class="image-center">
                  <img src="../assets/images/me3.png" width="124px" height="124px" />
                </div>
                <div class="card-body" style="text-align: center;">
                  <h4 class="card-title">Contact Us</h4>
                  <p class="card-text"><b>Email: <br>hiteshvarmap@gmail.com</b></p>
                  <p class="card-text"><b>LinkedIn:<br>www.linkedin.com/in/hiteshvarmapakalapati/</b></p>
                </div>
              </div>
          </div>
        </div>
      </div>
    -->
    </div>
</div>