.box{
    backface-visibility: hidden;
    position: relative;
    padding: 50px;
    background:  rgba(252, 252, 252, 0.274);
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.image-center {
    text-align: center;
  }