<div style="background-image: url('../assets/images/flight1.jpg'); background-size:cover; height: 716px; ">
    <div class="offset-lg-1 offset-md-1 offset-xl-1 col-lg-10 col-md-10 col-xl-10">
      <div class="jumbotron" style="background-color: transparent;">
        <h4 style="font-size:35px;">Welcome to {{title}}</h4>
        <p  style="font-size:30px;">This is a flight reservation website</p>
        <p style="font-size:20px;">XYZ flight reservation website is a website created by web-app devoloper Hitesh Varma.</p>
        <p style="font-size:20px;">The airlines supporting this reservation system is XYZ Airlines.</p>
        <p style="font-size:20px;">Here the user can register, login, book flights, review bookings and can also cancel bookings.</p>
        <p style="font-size:30px;">To book, check bookings or cancel</p>
        <a class="btn btn-primary btn-lg" href="/main/login" role="button">Login</a>
      </div>
    </div>
  </div>