<style>
  .box{
      backface-visibility: hidden;
      position: relative;
      padding: 50px;
      background:  rgba(252, 252, 252, 0.274);
      box-shadow: 0 5px 15px rgba(0,0,0,.2);
  }

#login-box
{
    position: relative;
    margin: 1% auto;
    height: 400px;
    width: 600px;
    background: rgba(252, 252, 252, 0.274);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.left-box
{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;    
}

input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}

input[type=password] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}




.right-box
{
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.or
{
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    color: wheat;
    background: #22397a;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    line-height: 40px;
    text-align: center;
}

.right-box .signinwith
{
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}



</style>




<div class="row" style="text-align: center;">
  <div class="col-lg-12 col-md-12">
    
    <div class="jumbotron" style="background-image: linear-gradient(to top, #ffffff, #e4e4e6, #c9cacf, #aeb1b7, #9399a0,
     #818991, #6f7a83, #5d6b74, #50606b, #435462, #374959, #2c3e50); height: 666px;">
    <div class="row">
    
      <div id="login-box">
        <div class="left-box" style="text-align: center;">
          <h3 style = "font-family:georgia,garamond,serif;font-size:60px;">Login</h3>
          
          <!--<form [formGroup]="addForm" (ngSubmit)="loginUser()"  router-link="login" id="myform">
              
          <br>
          <div class="form-group row" id="unamediv">
              <label for="userName"><b>Username:</b></label>
              
                <input type="text" class="form-control" name="userName" id="userName" formControlName="userName">
                         
                  <div *ngIf="submitted && addForm.controls.userName.errors.required" class="text-danger">
                      UserName is required...
                  </div>
  
          </div>
          <div class="form-group row">
              <label for="password"><b>Password:</b></label>
              <input type="password" class="form-control" formControlName="password" name="password" id="password">
              
              <div *ngIf="submitted && addForm.controls.password.errors">
                  <div *ngIf="submitted && addForm.controls.password.errors.required" class="text-danger">
                      Password is required...
                  </div>
              </div>
          </div>
          <div class="form-row-last">
            <br>
            <button name="LogIn" type="submit" class="btn btn-success" id="login" type="submit">Login</button>  
            &nbsp;&nbsp;
            <a class="btn btn-danger" href="">Go home</a>              
          </div>

      </form>-->
  
      <form [formGroup]="loginForm" (ngSubmit)="logIn()">
        <div class="container">
         
          <div class="form-group">
            <label for="username"><b>Username</b></label>
            <input type="text" class="form-control" placeholder="Enter Username" name="username" formControlName="username">
            <div *ngIf="submitted && loginForm.controls.username.errors">
              <div class="text-danger" *ngIf="loginForm.controls.username.errors.required">
                Username is required..
              </div>
              <div class="text-danger" *ngIf="loginForm.controls.username.errors.pattern">
                Username must contain atleast 1 lower case, 1 upper case , one special Character and length between 6 to 10
              </div>
            </div>
    
          </div>
    
          <div class="form-group">
            <label for="password"><b>Password</b></label>
            <input type="password" class="form-control" placeholder="Enter Password" name="psw" formControlName="password">
            <div *ngIf="submitted && loginForm.controls.password.errors ">
              <div class="text-danger" *ngIf=" loginForm.controls.password.errors.required">
                Password is required..
              </div>
              <div class="text-danger" *ngIf="loginForm.controls.password.errors.pattern">
                Password must contain atleast 1 lower case, 1 upper case and one special Character and must be at least
                6 characters and at most 10
              </div>
            </div>
    
          </div>
          
          <div class="form-row-last">
            <br>
            <button name="LogIn" type="submit" class="btn btn-success" id="login" type="submit">Login</button>  
            &nbsp;&nbsp;
            <a class="btn btn-danger" href="">Go home</a>              
          </div>

        </div>
      </form>

          </div>
          <div class="right-box" style="text-align: center;">
              <br><br>
              <br><br>
              <br>
              <h2 style = "font-family:georgia,garamond,serif;font-size:40px;">New User?</h2>
              <br>
              <a class="btn btn-success" href="signUp" style="color: white;">Sign Up</a>
              
          
          </div>
          <div class="or">OR</div>
      </div>
    
    </div>
    </div>
  </div>
</div>
